on post-fs-data
    mkdir /data/misc/display 0770 system system

service livedisplay-hal-2-0-lenovo-exynos /system/bin/hw/lineage.livedisplay@2.0-service.lenovo-exynos
    class hal
    user system
    group system